.player {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    max-height: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f067;
    margin-bottom: 20px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .minimized {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .minimized button{
    margin: 0 5px;
  
  }
  
  .player-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .player-controls {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .player-controls button{
    margin: 0 5px;
  }
  
  .player-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #888;
    color: #fff;
    cursor: pointer;
  }
  
  .player-btn:hover {
    background-color: #666;
  }
  
  .volume-control{
    margin-top: 20px;
  }


  .interface {
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    color: white;
    background-color: #00000071;
    padding: 2px;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
  }
  .pepostars{
    transform: translateX(250%);
  }

  /* Joy stick */

  .joystick-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30%;
    z-index: 999;
  }


  .joystick-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30%;
    z-index: 999;
  }
  .jump-container{
    position: fixed;
    bottom: 10%;
    left: 80%;
    z-index: 999;
  }
  .jump-button{
    padding: 100px;
    background-color: blue;
  }


  .name-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px; 
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f067;
    z-index: 1000;
}


.name-container input {

    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.name-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #888;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.name-container button:hover {
    background-color: #666;
}

/* Level Select */

.level-container {
  position: fixed;
  top: 45%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 20px;
  border: 1px solid #aaa;  /* More muted border color */
  border-radius: 10px;
  background-color: #f0f0f09c;  /* More muted background */
  z-index: 1000;
  color: #777;  /* Muted text color */
}

.level-container:hover {
  transform: scale(2);
  cursor: pointer;
}

.level-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.level-content h1 {
  font-size: 24px;
  text-align: center;
  color: inherit;  /* Inherits color from parent .level-container */
}

/* For selected level container */
.selected {
  border-color: #000;  /* Black border for contrast */
  background-color: #f0f0f067;  /* Original background color */
  color: #000;  /* Original text color */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);  /* Adding shadow for more emphasis */
}

.level-container:nth-child(1) {
  transform: translate(-50%, -50%) translatex(-150px);
}

.level-container:nth-child(2) {
  transform: translate(-50%, -50%);
}

.level-container:nth-child(3) {
  transform: translate(-50%, -50%) translatex(150px);
}
